[Desktop Entry]
Version=1.0
Name=₿ails
Comment=Clone, Backup Bails and Configure Settings
Exec=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/bails-menu
Terminal=false
Type=Application
Icon=/live/persistence/TailsData_unlocked/dotfiles/.local/share/icons/bails128.png
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=bails
