[Desktop Entry]
Type=Application
Name=Bitcoin
Exec=wrapped bitcoin-qt -datadir=/live/persistence/TailsData_unlocked/Persistent/.bitcoin -chain=main -startupnotify=chainstate-preload
Terminal=false
Hidden=false
StartupWMClass=Bitcoin-qt
SingleMainWindow=true
