[Desktop Entry]
Type=Application
Name=Bitcoin
Exec=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/bitcoin-qt -min -chain=main
Terminal=false
Hidden=false
