[Desktop Entry]
Type=Application
Name=Bitcoin
Exec=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/wrapped bitcoin-qt -chain=main -startupnotify=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/chainstate-preload
Terminal=false
Hidden=false
