[Desktop Entry]
Type=Application
Name=CipherStick Passphrase Practice
Exec=spaced-repetition --resume
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
