[Desktop Entry]
Version=1.0
Name=CipherStick
Comment=Configure Bitcoin Core on Tails.
Exec=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/wrapped bails-menu
Terminal=false
Type=Application
Icon=bails128
Categories=Finance;P2P;Network;Qt;
StartupWMClass=bails
