[Desktop Entry]
Version=1.0
Name=₿ails
Comment=Create and Restore Codex32 Backups, Configure Settings and Clone Bails shareware for a friend.
Exec=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/bails-menu
Terminal=false
Type=Application
Icon=bails128
Categories=Finance;P2P;Network;Qt;
StartupWMClass=bails
