[Desktop Entry]
Version=1.0
Name=CipherStick Wallet Loader
Comment=Create and Restore Codex32 Backups, Configure Settings and Clone CipherStick shareware for a friend.
Exec=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/decrypt-vault %u
Terminal=false
Type=Application
Icon=bails128
MimeType=application/x-cd-image;application/x-raw-disk-image;
StartupWMClass=bails
NoDisplay=true
Hidden=true
