[Desktop Entry]
Type=Application
Name=Bitcoin
Exec=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/bitcoin-qt-wrapper -chain=main -startupnotify=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/chainstate-preload
Terminal=false
Hidden=false
