[Desktop Entry]
Type=Application
Name=Bitcoin
Exec=sh -c "ln -s /live/persistence/TailsData_unlocked/Persistent/.bitcoin $HOME; bitcoin-qt-wrapper -min -chain=main -startupnotify=chainstate-preload"
Terminal=false
Hidden=false
