[Desktop Entry]
Type=Application
Name=Bitcoin
Exec=/live/persistence/TailsData_unlocked/dotfiles/.local/bin/bitcoin-qt-wrapper -min -chain=main -startupnotify=chainstate-preload
Terminal=false
Hidden=false
